name: Run tests

on:
  workflow_call:
    inputs:
      package:
        description: api | ui
        required: true
        type: string

jobs:
  validate-checkstyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Check Java version
        run: java -version  # Проверка версии JDK

      - name: Make mvnw executable
        run: chmod +x ./mvnw

      - name: Validate Checkstyle
        run: ./mvnw validate

  run-tests:
    needs: validate-checkstyle
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: TeamCity Setup
        uses: ./.github/actions/teamcity-setup

      - name: Make mvnw executable
        run: chmod +x ./mvnw

      - name: Run tests with AspectJ weaving
        continue-on-error: true
        run: |
          ./mvnw clean install -DskipTests
          ./mvnw test -Dtest='com.example.teamcity.${{ inputs.package }}.**'

      - name: Upload UI test artifacts (screenshots, HTML)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: setup-server-artifacts-${{ inputs.package }}-${{ github.job }}-${{ github.run_id }}-${{ github.run_attempt }}
          path: |
            build/reports/tests/
            target/surefire-reports/

      # Загружаем историю Allure Report с специальной ветки gh-pages (https://allurereport.org/docs/integrations-github/)
      - name: Load test report history
        uses: actions/checkout@v2
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Build test report
        uses: simple-elf/allure-report-action@v1.7
        if: always()
        with:
          gh_pages: gh-pages
          allure_history: allure-history
          allure_results: target/allure-results
          subfolder: ${{ inputs.package }}

      # Создаем пустую ветку gh-pages на основе инструкции https://gist.github.com/ramnathv/2227408
      - name: Publish test report
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history
          force_orphan: true